spring:
  profiles:
    active: ${ENV:dev}   # 获取环境变量，让程序去加载特定的 application-{ENV}文件
  datasource:
    url: jdbc:mysql://${MYSQL_URL:127.0.0.1:3306/${MYSQL_DATABASE:ys-project}}?characterEncoding=utf-8&useSSL=false
    # 使用druid数据源
    username: ${MYSQL_USER:root}
    password: ${MYSQL_PASS:}
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  http:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  jackson:
    time-zone: GMT+8
server:
  port: ${PORT:8080}

security:
  basic:
    enabled: false
