<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ys.project.dao.mapper.ArticleMapper">
  <resultMap id="ArticleResultMap" type="org.ys.project.entity.Article">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="type_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="title" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="content" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="created_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="updated_at" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ys_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ys.project.entity.Article">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ys_article (user_id, type_id, title,content,
      created_at, updated_at)
    values (#{userId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
    CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <update id="updateByPrimaryKey" parameterType="org.ys.project.entity.Article">
    update ys_article
    set title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      updated_at = CURRENT_TIMESTAMP
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ArticleResultMap">
    select *
    from ys_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="ArticleResultMap">
    select *
    from ys_article
  </select>
  <select id="selectArticleByTypeId" parameterType="java.lang.Integer" resultMap="ArticleResultMap">
    select *
    from ys_article
    where type_id =  #{typeId,jdbcType=INTEGER}
  </select>

  <select id="selectArticleByUserId" parameterType="java.lang.Integer" resultMap="ArticleResultMap">
    select *
    from ys_article
    where user_id =  #{userId,jdbcType=INTEGER}
  </select>
</mapper>